/* Main Css File */
*{
    padding: 0px;
    margin: 0px;
}

.bg-transparent{
    background-color: transparent;
    color: #0D1321a7;
}

.bg-black{
    background: #0D1321;
    color: white;
}

.title-font{
    font-family: "Azeret Mono", sans-serif;
    font-size: 46px;
    color: #0D1321;
    font-weight: 800;
    text-align: center;
    word-spacing: 0px;
}

.section-title{
    font-family: "Azeret Mono", sans-serif;
    font-size: 32px;
    color: #0D1321;
    font-weight: 700;
    text-align: center;
    word-spacing: 0px;
}

.sub-section-title{
    font-family: "Azeret Mono", sans-serif;
    font-size: 24px;
    color: rgba(13, 19, 33, .7);
    font-weight: 600;
    word-spacing: 0px;
}

header{
    max-width: 1140px;
    margin: 38px auto;
}

.btn{
    font-family: "Azeret Mono", sans-serif;
    font-size: 18px;
    padding: 10px 30px;
    font-weight: 500;
    border: 1px solid #0D1321;
    border-radius: 10px;
    cursor: pointer;
}

.btn a{
    text-decoration: none;
    color: white;
}

.main-nav{
    display: flex;
    justify-content: space-between;
}


.web-logo-text{
    font-family: "Azeret Mono", sans-serif;
    font-weight: 900;
    color: #0D1321;
    font-size: 28px;
}

.hero{
    background-image: url('../assets/Hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.inner-block{
    margin: 35px auto;
    max-width: 1140px;
    padding: 40px;
}

.inner-block > div{
    display: flex;
    justify-content: center;
    margin: 20px auto;
    padding: 0px 8%;
}

.title-description{
    font-family: "Azeret Mono", sans-serif;
    text-align: center;
    font-size: 16px;
    color: rgba(13, 19, 33, .7);
    font-weight: 400;
}

.developer-section{
    margin: 60px auto;
}

.developer-section > div{
    max-width: 1140px;
    padding: 80px 90px;
    background: rgba(13, 19, 33, .02);
    border-radius: 16px;
    margin: 0px auto;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.dev-inner{
    padding: 48px;
    display: flex;
    justify-content: space-evenly;
    margin: 16px 0px;
}

.dev-content{
    max-width: 477px;
    display: flex;
    flex-direction: column;
    gap:30px;
}

.inspiration{
    max-width: 1140px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.youtube-vid{
    margin-top: 48px;
    padding: 32px;
    border: 1px solid rgba(13, 19, 33, .1);
    border-radius: 16px;
}

iframe{
    border-radius: 16px;
}

.cur-target{
    max-width: 1140px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}