/* Main Css File */
*{
    padding: 0px;
    margin: 0px;
}

.bg-transparent{
    background-color: transparent;
    color: #0D1321a7;
}

.bg-black{
    background: #0D1321;
    color: white;
}

.title-font{
    font-family: "Azeret Mono", sans-serif;
    font-size: 46px;
    color: #0D1321;
    font-weight: 800;
    text-align: center;
    word-spacing: 0px;
}

.section-title{
    font-family: "Azeret Mono", sans-serif;
    font-size: 32px;
    color: #0D1321;
    font-weight: 700;
    text-align: center;
    word-spacing: 0px;
}

.sub-section-title{
    font-family: "Azeret Mono", sans-serif;
    font-size: 24px;
    color: rgba(13, 19, 33, .7);
    font-weight: 600;
    word-spacing: 0px;
}

header{
    max-width: 1140px;
    margin: 38px auto;
}

.btn{
    font-family: "Azeret Mono", sans-serif;
    font-size: 18px;
    padding: 10px 30px;
    font-weight: 500;
    border: 1px solid #0D1321;
    border-radius: 10px;
    cursor: pointer;
}

.btn a{
    text-decoration: none;
    color: white;
}

.main-nav{
    display: flex;
    justify-content: space-between;
}


.web-logo-text{
    font-family: "Azeret Mono", sans-serif;
    font-weight: 900;
    color: #0D1321;
    font-size: 28px;
}

.hero{
    background-image: url('../assets/Hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.inner-block{
    margin: 35px auto;
    max-width: 1140px;
    padding: 40px;
}

.inner-block > div{
    display: flex;
    justify-content: center;
    margin: 20px auto;
    padding: 0px 8%;
}

.title-description{
    font-family: "Azeret Mono", sans-serif;
    text-align: center;
    font-size: 16px;
    color: rgba(13, 19, 33, .7);
    font-weight: 400;
}

.developer-section{
    margin: 60px auto;
}

.developer-section > div{
    max-width: 1140px;
    padding: 80px 90px;
    background: rgba(13, 19, 33, .02);
    border-radius: 16px;
    margin: 0px auto;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.dev-inner{
    padding: 48px;
    display: flex;
    justify-content: space-evenly;
    margin: 16px 0px;
}

.dev-content{
    max-width: 477px;
    display: flex;
    flex-direction: column;
    gap:30px;
}

.sec-body{
    max-width: 1140px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.youtube-vid{
    margin-top: 48px;
    padding: 32px;
    border: 1px solid rgba(13, 19, 33, .1);
    border-radius: 16px;
}

iframe{
    border-radius: 16px;
}

.target-tools{
    margin:24px auto;
    display: flex;
    gap: 24px;
}

.tools{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 16px;
}

.tools a{
    font-family: "Azeret Mono", sans-serif;
    color: #0D1321;
    font-size: 16px;
    font-weight: 500;
}

.next-target-tools{
    margin:24px auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.next-tools{
    padding: 40px;
    display: flex;
    gap: 20px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(13, 19, 33, .15);
}

.next-tools div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.next-tools div a{
    font-family: "Azeret Mono", sans-serif;
    color: #0D1321;
    font-size: 16px;
    font-weight: 500;
}

.contact-me{
    height: 340px;
    background-image: url("../assets/handshake.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    background-position: center;
}

.inner-con{
    padding: 64px 48px;
}

input[type="text"]{
    padding: 20px;
    background: white;
    border: none;
    border-radius: 8px;
    width: 500px;
}

#form-button{
    padding: 20px;
    width: 120px;
    background: white;
    border: none;
    border-radius: 8px;
    font-family: "Azeret Mono", sans-serif;
    color: #0D1321;
    font-size: 16px;
    font-weight: 500;
}

.form-data{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 48px;
}

#foot{
    background-color: rgba(13, 19, 33, .03);
}

.foot-container{
    max-width: 1140px;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
}

.social > ul{
    display: flex;
}

.social > ul >li{
    list-style: none;
    padding-right: 15px;
}

.foot-text{
    font-family: "Azeret Mono", sans-serif;
    font-size: 18px;
    color: rgba(13, 19, 33, 1);
    font-weight: 600;
    word-spacing: 0px;
}

.btn-lm{
    width: 150px;
    padding: 8px;
    background: transparent;
    border: 1px solid #0D1321;
    text-align: center;
    font-family: "Azeret Mono", sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.btn-lm a{
    text-decoration: none;
    color: #0d1321c0;
}